html,
button,
input,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 400px;
  background-color: rgb(61, 202, 224);
  padding: 10px;
}

.block {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.blockInput {
  display: flex;
  justify-content: space-around;
}

.button {
  width: 22%;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button:active {
  transform: scale(0.9);
}

.delete {
  background-color: rgb(243, 121, 121);
}
.action {
  background-color: rgb(255, 127, 236);
}
.equally {
  background-color: rgb(226, 214, 43);
}

.input {
  width: 72%;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-align: right;
  caret-color: transparent;
}

input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
